.team {
  max-width: 1200px;
  min-height: 300px;
  margin: 0;
  padding: 40px;
  background-image: url ('../images/for-our-team.jpg');
  background-repeat: round;
}

.team__title {
  font-size: 50px;
  line-height: 1.8;
  color: saddlebrown;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

.team__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.team__link {
  cursor: pointer;
  font-size: 50px;
  line-height: 1.5;
  text-decoration: none;
  color: blue;
}
